.map-container{
    width: 100%;
    height: 87vh;
    margin-right: .5vh;
    overflow: hidden;
    // border: 4px black solid;
    .map-sub-container{
        z-index: 700;
        position: relative;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        // background-color: rgb(233, 230, 230);
        overflow: hidden;
        border-bottom-right-radius: 1vh;
        // border: 4px black solid;
    }
    .map-button-container{
        z-index: 500;
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
        width: 12%;
        margin-bottom: 4%;
        // height: auto;
        // margin-top: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        // border: 4px black solid;
        overflow: hidden;

        .map-button{
            font-family: serif;
            background-color: rgb(155, 176, 235);
            font-size: 1.9vh;
            color: white;
            border: none;
            margin: .5vh;
            border-style: outset;
            // border-radius: 1vh;
            padding: 1vh 2vh;
            &:hover{cursor: pointer;
            background-color:rgb(108, 122, 161);
            border-style: inset;}
        }

        
    }

    
}
.scheduleDataMap{
    z-index: 400;
    position: fixed;
    right: 0;
    width: 43vh;
    margin-top: 1.1vh;
    margin-right: 1.1vh;
    height: 13.5vh;
    background: white;
    
    // border: 2px black solid;

}



