

.modalSchedule {
    display: flex;
    flex-flow: column;
    width: 37%;
    height: auto;
    // height: 70vh;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
}
.modalTrips{
    display: flex;
    flex-flow: column;
    width: 70%;
    height: auto;
    // height: 70vh;
    background-color: white;
    padding: 1vh;
    border-radius: 1vh;
}

.modalFares{
    height: auto;
    line-height: 2;
    background-color: white;
    width: 55%;
    padding: 1vh;
    border-radius: 1vh;
}
@media (min-width: 200px) and (max-width: 500px){
    .modalSchedule{
        width: 90%;
        height: 68vh;
        
    }
    .modalTrips{
        width: 100%;
       
       
    }
    .modalFares{
        width: 95%;
       
    }
}
@media (min-width: 500px) and (max-width: 770px){
    .modalSchedule{
        width: 57%;
    }
    .modalFares{
        width: 75%;
       
    }
    
}