.button{
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
    // border: 4px solid black;
}
.buttonSchedule{
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    // border: 4px solid black;
}